.ui-widget.ui-widget-content {
	/*@include span(12);*/
	background: transparent;
	border: none;
	/*width: 685px;*/
	.ui-dialog-titlebar {
		display: none;
		.ui-icon {
			background-image: url('');
		}
	}
	.rechazar1-popup {
		padding: 0;
	}
	.ui-dialog-buttonpane {
		display: none;
	}
}

.ui-widget-overlay {
	@include span(12);
	background: $black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
   	filter: alpha(opacity=80); /* IE 5-7 */
    -moz-opacity: 0.8; /* Netscape */
    -khtml-opacity: 0.8; /* Safari 1.x */
    opacity: 0.8; /* Good browsers */
}

.ui-widget-overlay.custom-overlay
{
	@include span(12);
    background: $black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* IE 8 */
   	filter: alpha(opacity=25); /* IE 5-7 */
    -moz-opacity: 0.25; /* Netscape */
    -khtml-opacity: 0.25; /* Safari 1.x */
    opacity: 0.25; /* Good browsers */
    z-index: 1040;    
}

.my-popup {
	@include span(12);
	&__header {
		@include span(12);
		background-color: $white;
		position: relative;
		border-radius: 10px 10px 0 0;
		.popup-img {
			@include span(12);
			height: 75px;
		}
		.inner-text {
			@include span(12);
			@include absolute;
			height: 100%;
			.h1 {
				@include span(12);
				text-align: center;
				font-size: 1.1rem;
				color: $white;
				padding: 20px 0 0;
				text-transform: uppercase;
			}
		}
	}
	&__content {
		@include span(12);
		background-color: $white;
		.msg {
			@include pad(1,1);
			@include span(10);
			margin: 8% 0 0;
			.h2 {
				text-transform: none;
				font-size: 1rem;
				color: $black;
				text-align: center;
			}
			.felicidades {
				margin: 0 0 10px;
				font-size: 0.9rem;
				font-family: 'Montserrat-Bold';
				text-align: center;
			}
			.f-aprob {
				margin: 0 0 10px;
				font-size: 0.8rem;
				font-family: 'Montserrat-Regular';
				text-align: center;
			}
			p {
				font-size: 0.75rem;
				color: $black;
				padding: 1em 0;
				text-align: center;
			}
		}
	}
	&__footer {
		@include span(12);
		background-color: $white;
		.btn {
			@include pad(4,4);
			@include span(4);
			text-align: center;
			margin: 50px 0;
			a {
				@include span(12);
				color: $white;
				font-size: 0.8rem;
			}
		}
	}
}

.my-popup {
	@include susy-breakpoint($desktop, $susy) {
		&__header {
			.popup-img {
				height: 105px;
			}
			.inner-text {
				height: 100%;
				.h1 {
					font-size: 1.7rem;
					padding: 25px 0 0;
					text-transform: uppercase;
				}
			}
		}
		&__content {
			.msg {
				@include pad(1,1);
				@include span(10);
				margin: 3% 0;
				.h2 {
					font-size: 1.4rem;
					text-align: justify;
				}
				.felicidades {
					margin: 0 0 25px;
					font-size: 1.3rem;
					text-align: center;
				}
				.f-aprob {
					margin: 0 0 25px;
					font-size: 1.2rem;
					text-align: center;
				}
				p {
					font-size: 1.2rem;
					padding: 1em 0;
					text-align: center;
				}
			}
		}
		&__footer {
			.btn {
				@include pad(4.5,4.5);
				@include span(3);
				margin: 50px 0;
				a {
					font-size: 1rem;
				}
			}
		}
	}
}

.loading-popup {
	@include span(12);
}