.solicitaloahora_button {
    cursor: pointer;
    font-style: normal!important;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;
    display: inline-block;
    margin: 5px;
    color: #fff!important;
    background: #ff1952;
    border-radius: 5px;
    background: -moz-linear-gradient(left,#ff1952 0,#ce123e 100%);
    background: -webkit-gradient(left top,right top,color-stop(0,#ff1952),color-stop(100%,#ce123e));
    background: -webkit-linear-gradient(left,#ff1952 0,#ce123e 100%);
    background: -o-linear-gradient(left,#ff1952 0,#ce123e 100%);
    background: -ms-linear-gradient(left,#ff1952 0,#ce123e 100%);
    background: -webkit-gradient(linear,left top,right top,from(#ff1952),to(#ce123e));
    background: linear-gradient(to right,#ff1952 0,#ce123e 100%);
}


.loader {
    left: 0px;
    width: 100%;
    min-height: 510px;
    z-index: 9 !important;
    background: url('/images/loading.gif') 50% 50% no-repeat rgb(249,249,249) !important;
    opacity: .8;
    position: absolute;
}
label {
    font-weight: normal;
}
.error {
    color: red !important;
    border-bottom: 2px red solid !important;
}
.errorTitle {
    color: red !important;
}
.help {
    color: red !important;
    margin-bottom: 0px !important;
}
#formRegistro .calculadora-personal {
    min-height: 47px;
    margin-bottom: 0px;
}
#formDatosIngreso .calculadora-personal {
    min-height: 57px;
    margin-top: 15px !important;
}
#formDatosDomicilio .calculadora-personal {
    min-height: 47px;
    margin-top: 15px !important;
}
#formDatosPersonales .calculadora-personal {
    min-height: 67px;
    margin-top: 22px !important;
    margin-bottom: 10px !important;
}
#formDatosEmpleo .calculadora-personal {
    min-height: 57px;
    margin-top: 22px !important;
    margin-bottom: 10px !important;
}

#formDatosPersonales .fecha_nacimiento {
    margin-top: 0px !important;
}

#formRenovaciones .fecha_nacimiento {
    margin-top: 7px !important;
}

#info_prestamo_personal {
    min-height: 30px;
    margin-bottom: 15px;
}

#verificar_codigo {
    margin-top: 35px;
}
#laPaz #header .navbar-nav .dropdown-menu {
    padding: 5px 0;
    background: rgb(230, 65, 64, 1);
    text-align: center;
}

.modal-header .close {
    margin-top: -25px !important;
}
#laPaz .modal .modal-content .modal-title {
    padding-bottom: 0px !important;
}
.modal-header {
    background: #92133E;
    color: #FFF;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

.modal-content {
    width: 100%;
}

.modal-header .titulo-dinamico {
    margin: 0px;
    font-size: 20px;
}
.aviso-privacidad-modal {
    margin: auto 0;
}
.principal {
    padding-left: 8.33333333%;
    padding-right: 8.33333333%;
    width: 99.333333%;
    float: left;
    background-color: #eeeeee;
    text-align: left;
}

@media (max-width: 575.98px) {

    .renovaciones-slider-info-block {
        background-color: rgba(0,0,0,.3);
        margin-top: 50px;
    }

    #laPaz #header .navbar-brand {
        width: 165px;
    }

    .solicitaloahora_button {
        width: 110px;
        margin-top: 20px;
        font-size: 12px;
        padding: 10px 5px;
        float: right;
        margin-right: 12px;
    }

    .navbar-toggle {
        margin-top: 0px;
    }

    .modal-sm {
        max-width: 300px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .secondary-title {
        font-size: 22px;
    }

    .slider-title {
        font-size: 22px !important;
    }

    #laPaz .page-view.page-product .page-product-description img {
        width: 45px !important;
    }

    #laPaz .page-view.page-product .calculadora-personal small {
        font-size: 11.5px;
    }

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 850px;
    }
    
    @media (max-width: 320px) {

        #laPaz #header .navbar-brand {
            width: 160px;
        }

        .solicitaloahora_button {
            width: 100px;
            margin-top: 20px;
            font-size: 11px;
            padding: 10px 5px;
            float: right;
            margin-right: 12px;
        }

        .navbar-toggle {
            padding: 9px 1px;
        }

        .renovaciones-slider-info-block {
            background-color: rgba(0,0,0,.3);
            margin-top: 37px;
        }

    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .renovaciones-slider-info-block {
        background-color: rgba(0,0,0,.3);
        margin-top: 100px;
    }

    .solicitaloahora_button {
        width: 140px;
        margin-top: 20px;
        font-size: 14px;
        padding: 10px 10px;
        float: right;
        margin-right: 12px;
    }

    .modal-sm {
        max-width: 320px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 750px;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .renovaciones-slider-info-block {
        background-color: rgba(0,0,0,.3);
        margin-top: 100px;
    }

    .solicitaloahora_button {
        width: 140px;
        margin-top: 28px;
        font-size: 14px;
        padding: 10px 10px;
        float: right;
        margin-right: 12px;
    }

    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }


    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 750px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .solicitaloahora_button {
        width: 140px;
        margin-top: 28px;
        font-size: 14px;
        padding: 10px 10px;
        float: right;
        margin-right: 12px;
    }

    .renovaciones-slider-info-block {
        background-color: rgba(0,0,0,.3);
        margin-top: 200px;
    }

    .navbar-header {
        width: 85%
    }

    #laPaz #header .navbar-nav li a.bold {
        margin-top: 10px;
    }

    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }
    #laPaz #header .navbar-nav .dropdown-menu .dropdown-item {
        color: #fff;
    }
    .finalidad_custom {
        margin-top: 0px !important;
    }
    .loader {
        min-height: 750px;
    }
    
}

@media (min-width: 1200px) {

    .renovaciones-slider-info-block {
        background-color: rgba(0,0,0,.5);
        margin-top: 260px;
    }

    .solicitaloahora_button {
        width: 140px;
        margin-top: 28px;
        font-size: 14px;
        padding: 10px 10px;
        float: right;
        margin-right: 12px;
    }

    .navbar-header {
        width: 90%
    }

    #laPaz #header .navbar-nav {
        top: 25px;
    }

    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }
    #laPaz #header .navbar-nav .dropdown-menu .dropdown-item {
        color: #fff;
    }
     
}

#laPaz .modal .modal-content {
    border-radius: 5px !important;
}
#laPaz .modal .modal-header {
    border-radius: 3px 3px 0px 0px !important;
}
#olvidePassword {
    color: #92273E !important;
}
#olvidePassword:hover {
    color: #92273E !important;
}
#formLogin input {
    background-color: transparent !important;
}

#laPaz .modal .modal-content .error {
    font-size: inherit;
}

table.combodate {
    width: 100%;
}

.input-correcciones {
    border: none;
    width: 100%;
    border-bottom: 2px #B1B1B2 solid;
    background: transparent !important;
    text-transform: uppercase;
    text-align: center;
}

.day {
    background-color: transparent !important;
}

.year {
    background-color: transparent !important;
}

.month {
    background-color: transparent !important;
}

::-webkit-input-placeholder {
   text-transform: initial;
}

:-moz-placeholder {
   text-transform: initial;
}

::-moz-placeholder {
   text-transform: initial;
}

:-ms-input-placeholder {
   text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase !important;
}

.labelDinamico {
    font-size: 16px;
    min-height: 55px;
}

.labelDinamicoT {
    font-size: 16px;
    min-height: 40px;
}

#cuestionarioDinamico .calculadora-personal {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
}

#cuestionarioDinamico .margin {
    padding:10px !important;
}

#cuestionarioDinamico .pre-registro-input {
    margin-bottom: 0px !important;
}

#cuestionarioDinamico input {
    padding:5px !important;
}

.disabled {
    cursor: not-allowed !important;
    background: rgba(233,64,75, .5) !important;
}
